%main.page-content
  %section.color.-dark.hatch
    %div.content
      %div.grid-container
        %div.grid-100
          %h1.heading.-signature.t-white
            Rock Solid Memories
          %h2.t-white
            Stone engraving for the memories you'll never forget.
          %p.t-white
            Welcome to the Rock Solid Memories website. Our company custom engraves rocks for a variety of occasions and purposes.
  %div.border-outset.-top.color.-subtle.shadow
    %div.border-engraved
  %section.color.-subtle.shadow
    %div.content
      %div.grid-container
        %div.grid-100
          %h2.heading.-signature
            Our Products
          %p
            We have a growing assortment of products that we have designed and engraved. Due to the nature of our materials, every creation is unique. You can view projects that we have completed on our portfolio page.
          %div.centered.padding-b2.padding-t1
            = link_to 'Portfolio', photos_path, :class => 'button -bright -large inset'
        - @photos.each do | photo |
          %div.grid-25
            %div.photo
              = link_to photos_path do
                = image_tag photo.image.variant( combine_options: {thumbnail: "500x500^", gravity: "center", extent: "500x500"} ), :align => 'absmiddle', :class => 'inset', :width => '100%'
  %div.border-outset.-bottom.color.-subtle.shadow
    %div.border-engraved
