.button {
    @include heading-family;

    background-color: transparent;
    border: none;
    border-radius: 0.25em;
    color: $dark;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1em;
    padding: 0.5em 0;
    position: relative;
    white-space: nowrap;

    &.-bright {
        background-color: $bright;
        color: $subtle;
        padding-left: 1.75em;
        padding-right: 1.75em;
        text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );

        &:focus,
        &:hover {
            background-color: darken( $bright, 10% );
        }

        &.-inverse {
            background-color: $white;
            border: 1px solid $bright;
            color: $bright;
        }
    }

    &.-dark {
        background-color: $dark;
        color: $white;
        padding-left: 1.5em;
        padding-right: 1.5em;

        &.-inverse {
            background-color: $white;
            border: 1px solid $dark;
            color: $dark;
        }
    }

    &.-large {
        font-size: 1.75em;
        padding-bottom: 0.75em;
        padding-top: 0.75em;
    }

    &.-left {
        float: left;
        margin-right: 8px;
    }

    &.-light {
        background-color: $white;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    &.-right {
        float: right;
        margin-left: 8px;
    }

    &.-subtle {
        background-color: $subtle;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

.buttons {
    overflow: hidden;
    padding-top: 0.5em;
    width: 100%;

    &.-large {
        padding-top: 1em;
    }
}
