.full-height { height: 100%; }

.full-width { width: 100%; }
a.full-width, input[type=submit].full-width { display: block; text-align: center; }

.inline-block { display: inline-block; }
.interactable { cursor: pointer }

.margin-lr-half { margin-left: 0.5em; margin-right: 0.5em; }
.padding-half { padding: 0.5em; }

@for $i from 0 through 4 {
    .margin-#{$i} { margin: #{$i}em; }
    
    .margin-b#{$i} { margin-bottom: #{$i}em; }
    .margin-l#{$i} { margin-left: #{$i}em; }
    .margin-r#{$i} { margin-right: #{$i}em; }
    .margin-t#{$i} { margin-top: #{$i}em; }
    
    .margin-bt#{$i} { margin-bottom: #{$i}em; margin-top: #{$i}em; }
    .margin-lr#{$i} { margin-left: #{$i}em; margin-right: #{$i}em; }

    .padding-#{$i} { padding: #{$i}em; }
    
    .padding-b#{$i} { padding-bottom: #{$i}em; }
    .padding-l#{$i} { padding-left: #{$i}em; }
    .padding-r#{$i} { padding-right: #{$i}em; }
    .padding-t#{$i} { padding-top: #{$i}em; }
    
    .padding-bt#{$i} { padding-bottom: #{$i}em; padding-top: #{$i}em; }
    .padding-lr#{$i} { padding-left: #{$i}em; padding-right: #{$i}em; }
}

.stripped { margin: 0; padding: 0; }

.fadeout-border {
    border: 0px solid transparent;
    
    &.-horizontal {
        border-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, $white 25%, $white 75%, rgba(0, 0, 0, 0) 100%);
        border-image-slice: 1;
    }
    
    &.-vertical {
        border-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, $white 25%, $white 75%, rgba(0, 0, 0, 0) 100%);
        border-image-slice: 1;
    }
    
    &.-bottom {
        border-bottom-width: 1px;
    }
    
    &.-left {
        border-left-width: 1px;
    }
    
    &.-right {
        border-right-width: 1px;
    }
    
    &.-top {
        border-top-width: 1px;
    }
}

.top-to-bottom {
    border: 1px solid transparent;
    border-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, $white 25%, $white 25%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
}
