.header {
    background-color: $dark;
    color: $white;
}

.header__lower {
    background-color: $color-text;
    color: $white;
    padding-bottom: 1em;
    padding-top: 1em;
}

.header__upper {
    padding-top: 3em;
}
