.dropdown {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;

    &:focus-within > .dropdown__menu,
    &:hover > .dropdown__menu,
    .dropdown__menu:focus-within,
    .dropdown__menu:hover {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    ul.dropdown__menu {
        background-color: $white;
        border: 2px solid $light;
        display: none;
        left: 50%;
        list-style: none;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.5s ease;
        visibility: hidden;

        &::after {
            border-left: 0.8em solid transparent;
            border-right: 0.8em solid transparent;
            border-bottom: 1em solid $light;
            content: '';
            display: block;
            left: 50%;
            height: 0;
            position: absolute;
            top: -1em;
            transform: translateX(-50%);
            width: 0;
        }

        li {
            display: block;
            line-height: 2.5em;
            margin: 0;
            padding: 0;
            width: 100%;

            a {
                border-color: transparent;
                border-width: 0 3px 0;
                display: block;
                height: 100%;
                padding: 0 1em;
                white-space: nowrap;

                &:focus-within,
                &:hover {
                    border-left-color: $light;

                    &::after {
                        border-bottom: 0.6em solid transparent;
                        border-left: 0.8em solid $light;
                        border-top: 0.6em solid transparent;
                    }
                }

                &:focus-within,
                &:hover,
                &.-open {
                  &::after {
                      content: '';
                      display: block;
                      left: -3px;
                      height: 0;
                      position: absolute;
                      top: 50%;
                      transform: translateY(-50%);
                      width: 0;
                  }
                }

                &.-open {
                    border-left-color: $neptune;

                    &::after {
                        border-bottom: 0.8em solid transparent;
                        border-left: 0.8em solid $bright;
                        border-top: 0.8em solid transparent;
                    }
                }
            }
        }
    }
}

.dropdown__label {
    &::after {
        border-left: 0.6em solid transparent;
        border-right: 0.6em solid transparent;
        border-top: 0.8em solid $medium;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
    }
}

.header {
    @include translucent-repeating-image( 0.20, 'shadow.png' );

    background-color: $subtle;
    color: #4d463e;
    margin: 0;
    text-shadow: 1px 1px 0px rgba( 256, 256, 256, 0.4 );
    width: 100%;
}

.header__lower {
    text-align: center;

    nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            display: inline-block;

            a {
                font-size: 1.2em;
            }

            a,
            .dropdown__label {
                color: $medium;
                display: inline-block;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
            }

            & > a,
            & > .dropdown__label {
                padding: 1em;

                &:focus-within,
                &:hover {
                    color: $dark;
                }
            }

            & > a.-open {
                color: darken( $neptune, 15% );
            }
        }
    }
}

.header__upper {
    padding-top: 2em;
    text-align: center;
}
