section {
    padding-bottom: 5em;
    padding-top: 5em;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
    padding: 6.5em 0;
    width: 100%;

    &.-black {
        background-color: black;
    }

    &.-stones {
        @include translucent-image( 0.50, 'stones.jpg' );

        @media ( max-width: $media-mobile-max ) {
            background-image: image-url( 'stones.jpg' );
        }

        @media ( min-width: $media-4k-min ) {
            background-image: image-url( 'stones.jpg' );
        }
    }
}

.border-engraved {
    background-image: image-url( 'triangle-border.svg' );
    background-position: center;
    background-repeat: repeat-x;
    height: 35px;
    width: 100%;
}

.hatch {
    @include translucent-repeating-image( 1.00, 'hatch.png' );
}

.shadow {
    @include translucent-repeating-image( 0.20, 'shadow.png' );

    color: darken( $dark, 10% );
    text-shadow: 1px 1px 0px rgba( 256, 256, 256, 0.4 );
}

.color {
    width: 100%;

    &.-dark {
        background-color: $dark;
    }

    &.-light {
        background-color: $light;
    }

    &.-subtle {
        background-color: $subtle;
    }

    &.-translucent-white {
        @include translucent-color( 0.60, $white );
    }
}

.expandable {
    cursor: pointer;

    &.-hover {
        background-color: $neptune;
    }

    &.-open {
        .expandable__arrow {
            transform: rotate( 90deg );
            transition: all 0.25s ease-out;
        }
    }
}

.expandable__arrow {
    transform: rotate( 0deg );
    transition: all 0.25s ease-out;

    display: inline-block;
    margin-right: 1em;
    text-align: center;
    width: 1.25em;
}

.expandable__hidden {
    display: none;
    padding: 1em;

    p {
        font-size: 1em;
    }
}

.expandable__shown {
    padding: 1em;
}

.expandable__title {
    margin-bottom: 0;
}

.masonry {
  column-count: 4;
  column-gap: 1em;
  line-height: 0; // Prevent vertical gaps

  img {
    height: auto;
    padding-bottom: 1em;
    width: 100%;
  }
}

.mobile-padded {
    @media ( max-width: $media-mobile-max ) {
        padding-bottom: 5em;
    }
}

.page-content {
}

.panel {
    background-color: $white;
    padding: 1em;

    &.-dark {
        background-color: $dark;
        color: $white;
    }
}

.photo {
    padding: 1em 0.5em;
    width: 100%;

    img {
        width: 100%;
    }
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#page-wrapper {
    flex: 1;
}
