.utility-bar {
    padding: 1em 0;
}

.utility-bar__title {
    overflow: ellipsis;
    vertical-align: middle;
    width: 99%;
}

.utility-bar__utilities {
    vertical-align: middle;
    white-space: nowrap;
    
    & > * {
        margin-left: 1em;
    }
}
