@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin faux-table {
    border-collapse: collapse;
    display: table;
    
    & > * {
        display: table-row;
        width: 100%;
        
        & > * {
            display: table-cell;
        }
    }
}

@mixin overflow-clear {
    display: block;
    overflow: hidden;
    zoom: 1;
}

@mixin text-family {
    font-family: 'Source Sans Pro', sans-serif;
}

@mixin heading-family {
    font-family: 'Source Sans Pro';
    font-weight: 200;
}

@mixin signature-family {
    font-family: Geared, Impact, serif;
}

@mixin translucent-color( $alpha, $color ) {
    position: relative;
    
    &::before {
        background-color: $color;
        bottom: 0;
        content: '';
        left: 0;
        opacity: $alpha;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
    
    * {
        position: relative;
        z-index: 200;
    }
}

@mixin translucent-image( $alpha, $image ) {
    position: relative;
    
    &::before {
        background-image: image-url( $image );
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        left: 0;
        opacity: $alpha;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
    
    & > * {
        position: relative;
        z-index: 200;
    }
}

@mixin translucent-repeating-image( $alpha, $image ) {
    position: relative;
    
    &::before {
        background-image: image-url( $image );
        background-repeat: both;
        bottom: 0;
        content: '';
        left: 0;
        opacity: $alpha;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
    
    & > * {
        position: relative;
        z-index: 200;
    }
}

@mixin vertically-center {
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
