// Color names from Color Name & Hue tool 
// (http://www.color-blindness.com/color-name-hue/).

$corn-silk: #fff7e2;
$crusta: #f0764f;
$glade-green: #577c53;
$keppel: #3294aa;
$linen: #fcf5ef;
$lotus: #905650;
$onahau: #d9edf6;
$pale-rose: #f2dedf;
$pattens-blue: #e4edf5;
$peppermint: #d6e8d2;
$sandrift: #b29970;
$sea-pink: #f09090;
$shakespeare: #6298b4;

$black: #000000;
$burnham: #23443f;
$ice-cold: #b9e7dd;
$racing-green: #192420;
$tenne: #c74900;
$white: #ffffff;
$wild-sand: #edeae5;

$color-text: $racing-green;

$bright: $tenne;
$dark: $burnham;
$light: $ice-cold;
$subtle: $wild-sand;
$text: $racing-green;
