// Color names from Color Name & Hue tool
// (http://www.color-blindness.com/color-name-hue/).

$black: #000000;
$white: #ffffff;

// Color Scheme
$alto: #c9c0c1;
$hurricane: #8b7e75;
$neptune: #71a0aa;
$scandal: #bcdedd;
$space-shuttle: #4d463e;

// Flash
$corn-silk: #fff7e2;
$glade-green: #577c53;
$lotus: #905650;
$onahau: #d9edf6;
$pale-rose: #f2dedf;
$peppermint: #d6e8d2;
$sandrift: #b29970;
$sea-pink: #f09090;
$shakespeare: #6298b4;

// Applications
$text: $space-shuttle;

$bright: $neptune;
$dark: $space-shuttle;
$light: $scandal;
$subtle: $alto;
