.header__upper
  .grid-container
    .grid-50
      %h1.heading.-signature.margin-b0.t-white
        = business_name
    .grid-50
      Links
.header__lower
  .grid-container
    .grid-100
      Links
