- content_for(:header) { render partial: 'layouts/components/header' }
- content_for(:flash_bar) { render partial: 'layouts/components/flash_bar' }
- content_for(:footer) { render partial: 'layouts/components/footer' }
- content_for(:javascript) { render partial: 'layouts/components/ready_javascript' }

= render template: 'layouts/application'
