%head
  = stylesheet_link_tag 'mailer.css'
%body
  %table.body
    %tbody
      %tr
        %td
          %table.container
            %tbody
              %tr
                %td
                  = yield
          %table.footer
            %tbody
              %tr
                %td
                  %p.blue.license
                    = "Copyright #{Time.now.year} Rock Solid Memories. All Rights Reserved.".html_safe
